In [95]:
from datetime import datetime, timedelta
import station.models as models
import pandas as pd
from station.constants import REPORT_INSTANT_TIME_MS
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [96]:
def get_num_periods(period, date_time_detla: timedelta):
    if period == 'i':
        return date_time_detla.total_seconds // (RADIO_SEND_INTERVAL_MS / 1000)
    elif period == 'm':
        return date_time_detla.total_seconds // 60
    elif period == 'h':
        return date_time_detla.total_seconds // (60*60)
    elif period == 'd':
        return date_time_detla.days
    elif period == 'w':
        return date_time_detla.days // 7


class WeatherReport():
    # Generate a report from start_date_time to end_date_time, with precision (timestep) of given period.
    # Period can be one of 'i', 'm', 'h', 'd', 'w', 'M'. Instant, minute, hour, day, week, month.
    # Instant means the smallest possible timestep (basically how often does the station send data, ~5 seconds).
    # For example if you input 01-01-2019 as start_date_time and 12-31-2019 with period as 'd', you will
    # recieve a series of daily values included highs, lows, and averages for various metrics for all of 2019.
    # Note that exact calendar dates are not considered, meaning that (for example) if your start_date_time
    # begins in the middle of a real calendar week, the measure of one week will start at that exact date time
    # and jump to the middle of the next real calendar week (i.e. increment 7 days from your start_date_time).
    def __init__(self, start_date_time: datetime, end_date_time: datetime, period='i'):
        self.end_date_time = end_date_time
        self.start_date_time = start_date_time
        self.period = period
        self.date_delta = end_date_time - start_date_time

        if period in ['i', 'm', 'h']:
            self.calc_from_raw()
        elif period in ['d', 'w', 'm']:
            self.calc_from_aggregate()
        else:
            raise Exception('Unsupported period: please use one of i, m, h, d, w, M.')

    def calc_from_raw(self):
        self.df_accelerometerXyz = pd.DataFrame(
            list(
                models.AccelerometerXyz
                .objects
                .filter(timestamp__gte=self.start_date_time)
                .filter(timestamp__lte=self.end_date_time)
                .values()
            )
        )
        #self.df_accelerometerXyz.reindex(index='timestamp')

In [98]:
wr = WeatherReport(datetime.now(timezone.utc) - timedelta(days=1), datetime.now(timezone.utc) + timedelta(days=1))

In [99]:
wr.df_accelerometerXyz.dtypes

ROWID                      int64
timestamp    datetime64[ns, UTC]
x                        float64
y                        float64
z                        float64
dtype: object

In [100]:
wr.df_accelerometerXyz.set_index('timestamp', inplace=True)
wr.df_accelerometerXyz.drop('ROWID', axis=1, inplace=True)
wr.df_accelerometerXyz

                                     x     y     z
timestamp
2020-04-25 19:31:44.707000+00:00 -0.78  0.04 -9.41
2020-04-25 19:31:45.241000+00:00 -0.67  0.08 -9.34
2020-04-25 19:31:45.763000+00:00 -0.75  0.12 -9.34
2020-04-25 19:31:46.298000+00:00 -0.75  0.08 -9.38
2020-04-25 19:31:46.820000+00:00 -0.71  0.12 -9.30
...                                ...   ...   ...
2020-04-26 05:24:21.095000+00:00 -0.78  0.04 -9.30
2020-04-26 05:24:21.630000+00:00 -0.78  0.08 -9.26
2020-04-26 05:24:22.152000+00:00 -0.67  0.04 -9.34
2020-04-26 05:24:22.678000+00:00 -0.75  0.04 -9.38
2020-04-26 05:24:23.201000+00:00 -0.75  0.04 -9.30

[12927 rows x 3 columns]

In [101]:
wr.df_accelerometerXyz.dtypes

x    float64
y    float64
z    float64
dtype: object

In [102]:
meanz = wr.df_accelerometerXyz.rolling(pd.Timedelta(milliseconds=15)).mean()

In [103]:
wr.df_accelerometerXyz
wr.df_accelerometerXyz.dtypes

x    float64
y    float64
z    float64
dtype: object

In [104]:
meanz

                                     x     y     z
timestamp
2020-04-25 19:31:44.707000+00:00 -0.78  0.04 -9.41
2020-04-25 19:31:45.241000+00:00 -0.67  0.08 -9.34
2020-04-25 19:31:45.763000+00:00 -0.75  0.12 -9.34
2020-04-25 19:31:46.298000+00:00 -0.75  0.08 -9.38
2020-04-25 19:31:46.820000+00:00 -0.71  0.12 -9.30
...                                ...   ...   ...
2020-04-26 05:24:21.095000+00:00 -0.78  0.04 -9.30
2020-04-26 05:24:21.630000+00:00 -0.78  0.08 -9.26
2020-04-26 05:24:22.152000+00:00 -0.67  0.04 -9.34
2020-04-26 05:24:22.678000+00:00 -0.75  0.04 -9.38
2020-04-26 05:24:23.201000+00:00 -0.75  0.04 -9.30

[12927 rows x 3 columns]