In [1]:
from datetime import datetime, timedelta
import pandas as pd
from station.constants import REPORT_INSTANT_TIME_MS
from station.weatherreport import WeatherReport
import os
os.environ["DJANGO_ALLOW_ASYNC_UNSAFE"] = "true"

In [2]:
pd.set_option('display.max_columns', 50)  # or 1000
pd.set_option('display.max_rows', 100)  # or 1000
pd.set_option('display.max_colwidth', None)  # or 199

In [13]:
wr = WeatherReport(datetime.now(timezone.utc) - timedelta(days=40), datetime.now(timezone.utc) - timedelta(days=39))

In [14]:
wr.df_AccelerometerXyz.dtypes

x    float64
y    float64
z    float64
dtype: object

In [22]:
wr.df_AmbientLightValues

                                   value
timestamp
2020-04-25 04:26:50.941000+00:00  775.30
2020-04-25 04:26:51.954000+00:00  775.28
2020-04-25 04:26:52.964000+00:00  778.44
2020-04-25 04:26:53.981000+00:00  778.02
2020-04-25 04:27:11.451000+00:00  775.18
...                                  ...
2020-04-26 04:26:17.263000+00:00  780.88
2020-04-26 04:26:35.026000+00:00  775.98
2020-04-26 04:26:36.040000+00:00  778.34
2020-04-26 04:26:37.052000+00:00  779.60
2020-04-26 04:26:38.069000+00:00  777.42

[17901 rows x 1 columns]

In [35]:
acav_df_AmbientLightValues = wr.df_AmbientLightValues.resample('15S').min()